:root {
  --bg-clr: #34495e;
}

/* Reset */

html {
  scroll-behavior: smooth;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  min-height: 100vh;
  margin: 0;
}

img,
svg,
video {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

/* Styles */

body {
  background-color: var(--bg-clr);
  color: #fff;
  font-family: Arial, Helvetica, sans-serif;
  display: grid;
  place-content: center;
  overflow: hidden;
}

h1 {
  margin: 1.25rem 0;
}

.game-container {
  padding: 1.25rem 1.875rem;
  position: relative;
  height: 21.875rem;
  width: 28.125rem;
}

.figure-container {
  fill: transparent;
  stroke: #fff;
  stroke-width: 0.25rem;
  stroke-linecap: round;
}

.figure-part {
  display: none;
}

.wrong-letters-container {
  position: absolute;
  top: 1.25rem;
  right: 1.25rem;
  display: flex;
  flex-direction: column;
  text-align: right;
}

.wrong-letters-container p {
  margin: 0 0 5px;
}

.wrong-letters-container span {
  font-size: 1.5rem;
}

.word {
  display: flex;
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
}

.letter {
  border-bottom: 3px solid #2980b9;
  display: inline-flex;
  font-size: 1.875rem;
  align-items: center;
  justify-content: center;
  margin: 0 3px;
  height: 3.125rem;
  width: 1.25rem;
}

.popup-container {
  background-color: rgba(0, 0, 0, 0.3);
  position: fixed;
  inset: 0;
  /* display: flex; */
  display: none;
  align-items: center;
  justify-content: center;
}

.popup {
  background: #2980b9;
  border-radius: 5px;
  box-shadow: 0 15px 10px 3px rgba(0, 0, 0, 0.1);
  padding: 20px;
  text-align: center;
}

.popup button {
  cursor: pointer;
  background-color: #fff;
  color: #2980b9;
  border: 0;
  margin-top: 20px;
  padding: 12px 20px;
  font-size: 16px;
}

.popup button:active {
  transform: scale(0.98);
}

.popup button:focus {
  outline: 0;
}

.notification-container {
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 10px 10px 0 0;
  padding: 15px 20px;
  position: absolute;
  bottom: -50px;
  transition: transform 0.3s ease-in-out;
}

.notification-container p {
  margin: 0;
}

.notification-container.show {
  transform: translateY(-50px);
}
