*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ccc;
}

img,
svg,
video {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

.wall {
  display: flex;
  background: rgba(190, 105, 40, 0.5);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(2px);
}

.wall:after {
  position: absolute;
  left: 50%;
  content: '';
  width: 5px;
  height: 100%;
  background-color: black;
}

.wall:before {
  position: absolute;
  left: 50%;
  content: '';
  width: 5px;
  height: 100%;
  background-color: black;
  transform: rotate(90deg);
}



.window {
  position: relative;
  width: 400px;
  height: 500px;
  background-color: black;
  clip-path: polygon(
    0% 0%,
    0% 100%,
    25% 100%,
    25% 25%,
    75% 25%,
    75% 75%,
    25% 75%,
    25% 100%,
    100% 100%,
    100% 0%
  );
  transition: all 2s ease;
}


.ghost {
  position: absolute;
  z-index: -1;
  width: 200px;
  height: 300px;
  animation: 3s ease-in-out infinite alternate move;
}

@keyframes move {
  from {
    transform: translateX(700px);
  }
  to {
    transform: translateX(-700px);
  }
}
