*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #333;
}

img,
svg,
video {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

article {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 5px solid white;
}

article img {
  width: 300px;
}

article svg {
  position: absolute;
  opacity: 0;
  width: 64px;
  pointer-events: none;
}

article svg.like {
  animation: 1s pump ease-in-out;
}

@keyframes pump {
  0% {
    opacity: 0;
    scale: 0;
  }
  15% {
    opacity: 1;
    scale: 1.2;
  }
  30% {
    scale: 0.95;
  }
  45%,
  80% {
    scale: 1;
  }
  100% {
    scale: 0;
    opacity: 1;
  }
}
