<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Layout</title>

    <!-- Stylesheet -->
    <link href="../dist/css/tailwind.css" rel="stylesheet" />
  </head>
  <body class="bg-blue-100 py-20">
    <!-- <section
      class="h-screen grid gap-8 auto-rows-max w-[90%] mx-auto max-w-screen-lg justify-items-center md:grid-cols-2 items-center md:grid-rows-2"
    >
      <img
        class="aspect-square object-cover rounded-full max-w-sm w-4/5"
        src="./assets/dog.jpg"
        alt="A dog with a flower in her mouth"
      />

      <article class="px-8 py-4 grid gap-8">
        <h1 class="text-3xl font-bold text-center md:text-left md:text-5xl/normal">
          Mi nombre es Loki, Me puedo unir a tu vida?
        </h1>
        <p class="leading-10 text-gray-600">
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Provident
          quam laborum tempora ad id sunt commodi earum tempore non sint.
        </p>
        <a
          href="#"
          class="bg-blue-700 text-white text-center py-6 rounded-xl font-bold hover:scale-110 transition-transform"
          >Adóptame!</a
        >
      </article>
    </section> -->

<!--     <section
      class="grid w-[500px] h-[500px] mx-auto gap-4 grid-rows-[100px_100px] grid-cols-[100px_100px] place-items-center border-2 border-black place-content-center"
    >
      <img
        src="./assets/dog.jpg"
        alt="A dog with a flower in her mouth"
        class="w-full h-full object-cover"
      />
      <img
        class="w-full h-full object-cover"
        src="./assets/dog.jpg"
        alt="A dog with a flower in her mouth"
      />
      <img
        class="w-full h-full object-cover"
        src="./assets/dog.jpg"
        alt="A dog with a flower in her mouth"
      />
      <img
        class="w-full h-full object-cover"
        src="./assets/dog.jpg"
        alt="A dog with a flower in her mouth"
      />
    </section> -->
  </body>
</html>
