@font-face {
  font-family: "Poppins";
  src: url("./assets/fonts/Poppins-Bold.ttf"),
    url("./assets/fonts/Poppins-BoldItalic.ttf"),
    url("./assets/fonts/Poppins-ExtraBold.ttf"),
    url("./assets/fonts/Poppins-ExtraBoldItalic.ttf"),
    url("./assets/fonts/Poppins-Italic.ttf"),
    url("./assets/fonts/Poppins-Regular.ttf");
}

:root {
  --clr-primary-one: hsl(259, 100%, 65%);
  --clr-primary-two: hsl(0, 100%, 67%);

  --clr-white: hsl(0, 0%, 100%);
  --clr-offwhite: hsl(0, 0%, 94%);
  --clr-light-grey: hsl(0, 0%, 86%);
  --clr-smoke-grey: hsl(0, 1%, 44%);
  --clr-offblack: hsl(0, 0%, 8%);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  text-rendering: optimizedSpeed;
  line-height: 1.5;
  font-size: 32px;
  margin: 0;

  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--clr-offwhite);
  font-family: "Poppins", sans-serif;
}

img,
picture {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

/* ATTRIBUTION */

.attribution {
  font-size: 11px;
  text-align: center;

  position: absolute;
  bottom: 1rem;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

/* CALCULATOR YOUR AGE*/

.calc {
  background-color: var(--clr-white);
  width: calc(100vw - 2rem);
  padding: 3rem 2rem;
  border-radius: 1rem 1rem 5rem 1rem;
  min-width: 18.75rem;
  max-width: 40rem;
}

.form {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}

.form__wrapper {
  display: flex;
  flex-direction: column;
  align-items: start;
  padding: 0;
  border: none;
}

.form__label {
  text-transform: uppercase;
  font-size: 0.8rem;
  color: var(--clr-smoke-grey);
  transition: color 0.5s ease-in-out;
}

.form__label--invalid {
  color: var(--clr-primary-two);
}

.form__input {
  border: 1px solid var(--clr-light-grey);
  border-radius: 0.5rem;
  padding-left: 0.5rem;
  margin-top: 0.4rem;
  font-size: 1.5rem;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
  width: 100%;
}

.form__input--invalid {
  border-color: var(--clr-primary-two);
}

.form__input::-webkit-outer-spin-button,
.form__input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.form__error {
  color: var(--clr-primary-two);
  text-transform: none;
  height: 1.8rem;
  font-weight: regular;
  font-style: italic;
  font-size: 0.5rem;
  margin-top: 0.2rem;
}

/* CALCULATOR DIVIDER */

.divider {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.divider__line {
  width: 100%;
  height: 2px;
  background-color: var(--clr-light-grey);
  position: absolute;
}

.divider__arrow {
  background-color: var(--clr-primary-one);
  border-radius: 100vw;
  width: 3rem;
  height: 3rem;
  padding: 0.5rem;
  z-index: 1;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}

/* CALCULATOR RESULT */

.result__data {
  font-size: clamp(2.25rem, 2vw + 2rem, 5rem);
  margin: 0;
}

.result__span {
  color: var(--clr-primary-one);
}

/* MEDIAQUERIES */

@media screen and (min-width: 768px) {
  .divider {
    justify-content: flex-end;
  }

  .divider__arrow {
    width: 4rem;
    height: 4rem;
  }
}

@media (hover: hover) {
  .divider__arrow:hover {
    background-color: var(--clr-offblack);
  }
}
