/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
  outline: 1px dotted red;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

:root {
  --light-red: hsl(0, 100%, 67%);
  --orange-yellow: hsl(39, 100%, 56%);
  --green-teal: hsl(166, 100%, 56%);
  --cobalt-blue: hsl(234, 85%, 45%);

  --white: hsl(0, 0%, 100%);
  --pale-blue: hsl(221, 100%, 96%);
  --light-lavender: hsl(241, 100%, 89%);
  --dark-gray-blue: hsl(224, 30%, 27%);

  --clr-bg1: hsl(252, 100%, 67%);
  --clr-bg2: hsl(241, 81%, 54%);
  --clr-circle1: hsla(256, 72%, 46%, 1);
  --clr-circle2: hsla(241, 72%, 46%, 0);

  --fw-medium: 500;
  --fw-bold: 700;
  --fw-extra-bold: 800;
}

body {
  margin: 0;
  min-height: 100vh;
  background-color: var(--white);
  font-family: "Hanken Grotesk", sans-serif;
}

.card {
  width: min(100%, 30rem);
  margin-inline: auto;
}

/* SCORE SECTION */

.score {
  background: linear-gradient(var(--clr-bg1), var(--clr-bg2));
  text-align: center;
  border-radius: 0 0 1rem 1rem;
  padding: 1rem;
}

.score__title {
  color: var(--pale-blue);
  font-size: 1.125rem;
  margin-block: 1rem;
}

.score__circle {
  width: 10rem;
  height: 10rem;
  margin-inline: auto;
  border-radius: 50%;
  background: linear-gradient(var(--clr-circle1), var(--clr-circle2));

  display: flex;
  align-items: center;
  justify-content: center;
}

.score__result {
  color: var(--pale-blue);
}

.score__result--bigger {
  color: white;
  font-size: 4rem;
  font-weight: var(--fw-extra-bold);
}

.score__subtitle {
  color: var(--white);
  font-size: 2rem;
}

.score__text {
  color: var(--pale-blue);
  font-size: 1.125rem;
}

/* SUMMARY SECTION */

.summary {
  padding: 1rem;
}

.summary__result {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  border-radius: 0.8rem;
  margin-block: 1rem;
}

.summary__name {
  display: flex;
  gap: 1rem;
}

.summary__result--reaction {
  background-color: hsla(0, 100%, 67%, 0.1);
}

.summary__subtitle--reaction {
  color: var(--light-red);
}

.summary__result--memory {
  background-color: hsla(39, 100%, 56%, 0.1);
}

.summary__subtitle--memory {
  color: var(--orange-yellow);
}

.summary__result--verbal {
  background-color: hsla(166, 100%, 56%, 0.1);
}

.summary__subtitle--verbal {
  color: var(--green-teal);
}

.summary__result--visual {
  background-color: hsla(234, 85%, 45%, 0.1);
}

.summary__subtitle--visual {
  color: var(--cobalt-blue);
}

.summary__data--light {
  color: var(--light-lavender);
}

.summary__btn {
  width: 100%;
  background-color: var(--dark-gray-blue);
  color: var(--white);
  font-weight: var(--fw-extra-bold);
  font-size: 1.2rem;
  padding-block: 1rem;
  border-radius: 100vh;
}
