---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Acerca del sitio">
  <h1>About</h1>
  <p>
    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Odio eligendi
    officia velit, error enim excepturi. Modi, cum eveniet tempora delectus
    nulla ipsa veniam, quis veritatis cupiditate repellat laboriosam suscipit
    hic fugit ducimus nobis quod illum vero. Rerum libero ipsum atque cumque
    expedita molestiae alias iure dolores eos, odio illum, magni repellat, cum
    nemo suscipit tempora fuga quo! Maxime sint eos a dignissimos labore,
    perferendis nemo maiores praesentium, cupiditate pariatur in quaerat
    voluptatum minima eum similique nisi expedita facere numquam distinctio?
    Illo excepturi obcaecati magnam! Excepturi, repudiandae aliquid consectetur
    nostrum, perspiciatis optio voluptas minus at possimus sint blanditiis
    reiciendis? Laboriosam, debitis.
  </p>
</Layout>
