*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
}

img,
svg,
video {
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

.loader {
  display: none;
  margin: 2rem auto;
}
