@import url(https://fonts.googleapis.com/css?family=Open+Sans:700,300);

.frame {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 400px;
  height: 400px;
  margin-top: -200px;
  margin-left: -200px;
  border-radius: 2px;
  box-shadow: 4px 8px 16px 0 rgba(0, 0, 0, 0.1);
  overflow: hidden;
  background: #fff;
  color: #333;
  font-family: "Open Sans", Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background: linear-gradient(
    58deg,
    rgba(44, 73, 172, 1) 0%,
    rgba(86, 192, 255, 1) 100%
  );
  color: white;
}

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #444;
}

.numbers {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100px;
  margin-left: 15px;
}

.number__one {
  position: relative;
  left: 14px;
  margin-left: auto;
  height: 100%;
  width: 1.4rem;
  background-color: white;
  border-radius: 0.2rem;
  box-shadow: 4px 8px 16px 0 rgba(0, 0, 0, 0.1);
}

.number__one::before {
  position: absolute;
  content: "";
  width: 1.4rem;
  height: 50%;
  background-color: white;
  border-radius: 0.2rem;
  box-shadow: 4px 8px 16px 0 rgba(0, 0, 0, 0.1);
  transform: rotate(45deg);
  z-index: -1;
  left: -1.2rem;
}

.number__zero {
  position: relative;
  height: 100px;
  width: 100px;
  background-color: transparent;
  box-shadow: 4px 8px 16px 0 rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  z-index: -1;
  border: 1.4rem solid white;
}

.number__zero--two {
  right: 14px;
  z-index: -2;
}

.title {
  text-align: center;
  font-size: 4.8rem;
  margin: -1.4rem;
  font-weight: 700;
}

.subtitle {
  text-align: center;
  font-size: 1.5rem;
  font-weight: 700;
}
