---
import Layout from "../components/Layout.astro";
---

<Layout pageTitle="Conoce mas de nosotros">
  <h1>Acerca de mi web</h1>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur, cum.</p>
</Layout>
