---
import Layout from "../components/Layout.astro";
import Button from "../components/ButtonSubscribe.jsx";
---

<Layout
  pageTitle="Página Inicial"
  pageDescription="Esta es una página para ofrecer servicios de desarollo de software"
>
  <h1>Pagina Inicial</h1>
  <p>Bienvenido a mi blog</p>

  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab temporibus sequi
    officia fugiat reiciendis, molestiae accusantium excepturi corporis
    dignissimos quas adipisci, libero id? Repellat ut omnis esse rerum,
    molestiae inventore ex mollitia porro voluptates delectus numquam cupiditate
    veritatis? Placeat voluptatibus odit doloribus similique excepturi dolorem
    aliquam tempore exercitationem, quaerat quis dignissimos ipsa optio nulla
    asperiores! Commodi, tenetur. Minima inventore, sint assumenda porro
    voluptates quia tempora quidem labore doloribus doloremque, veniam, odit eos
    praesentium reprehenderit cupiditate molestiae explicabo aliquid
    consequuntur voluptatibus. Magni esse ipsam laudantium, molestiae debitis
    tenetur saepe suscipit vero voluptas architecto recusandae reiciendis
    placeat autem, distinctio impedit cum a obcaecati necessitatibus? Unde enim
    illo consectetur. Nam delectus recusandae perspiciatis tempora illum
    accusantium doloremque eius dolorem temporibus illo, eligendi quis laborum
    sint enim facilis quia facere aut corrupti, aspernatur eum, minima labore
    necessitatibus. Excepturi porro earum eum cum. Ratione beatae eos, quis, at
    ducimus dolorum explicabo maiores reiciendis ipsa autem rerum quos
    necessitatibus natus in alias quidem et omnis? Velit quod eligendi, expedita
    autem iusto alias laudantium labore, voluptatum magnam accusamus pariatur
    delectus ad fugiat tempora! Sit at molestiae optio dolorum dicta fugit
    pariatur quos totam provident tempore a sed, possimus nesciunt saepe
    dignissimos nisi, qui excepturi velit ut consectetur harum necessitatibus.
    Soluta asperiores fugit quidem iure in cupiditate repellat sapiente nesciunt
    vel! Natus reiciendis velit minus quidem ratione fuga quod delectus
    repellendus quisquam tenetur, quam, quibusdam iusto provident eligendi
    aperiam molestias, ipsum quasi optio consequatur numquam. Soluta distinctio
    labore repellat quia beatae quam obcaecati repellendus. Consectetur beatae
    aspernatur nam! Enim, maiores! Laboriosam fugiat molestias, labore
    praesentium inventore temporibus nam iusto at esse excepturi fugit
    recusandae quos ullam totam omnis repellat minima. Nesciunt, placeat eos?
    Doloremque esse pariatur, eaque hic beatae sint suscipit porro! Sed facere
    sapiente deleniti aliquid quisquam aut, itaque excepturi exercitationem
    quasi ex modi quia magni ipsum praesentium corporis nisi enim sunt quis
    voluptatem delectus sequi nostrum! Voluptatibus consectetur, numquam iusto
    deserunt accusamus illum recusandae, provident nemo soluta fugit tempore,
    modi dolorem impedit optio dolor repudiandae commodi facilis! At illum alias
    explicabo facere voluptatum dolorum nesciunt natus cupiditate ipsam vitae
    amet esse, libero aliquid, enim hic quibusdam quas dolorem eos. Iusto
    placeat amet, sed neque ducimus in ut porro repellat nesciunt a quam earum
    recusandae eligendi, architecto odio pariatur delectus accusamus inventore
    cupiditate illum. Optio necessitatibus esse ex architecto saepe aspernatur
    cumque dolores totam facere voluptatem fugit eos quos, perferendis tempora
    distinctio omnis assumenda. Atque, culpa? Consequuntur odio placeat laborum
    eveniet beatae ea quam? Molestias porro eligendi consectetur ipsam vitae
    corrupti aspernatur unde accusamus nostrum asperiores doloremque a, numquam
    consequuntur cupiditate voluptatibus tenetur ad pariatur repellat. Quo in,
    magni voluptate itaque dicta voluptatem ipsa eveniet quam quasi rerum
    tempora minima ratione! Culpa aperiam error nulla fugiat tempora. Eum cum,
    quas maiores numquam suscipit, temporibus aliquid eligendi qui saepe soluta
    veritatis ipsum cupiditate sunt sed quidem doloremque itaque. Illum autem
    dolorum temporibus illo dignissimos eligendi obcaecati beatae incidunt
    recusandae, ducimus numquam voluptatum odit quas! Consectetur, quibusdam
    dolor voluptate recusandae provident non explicabo officia exercitationem
    voluptatem nihil magnam voluptatibus minima cum sed quidem consequatur
    delectus enim doloremque ipsum dolorum ea, laboriosam ab facilis et!
    Voluptate corporis totam suscipit autem, eaque id blanditiis ipsum
    voluptatibus itaque perferendis vel eos laborum. Ipsa, est odit voluptate
    eaque consequuntur molestias assumenda aut atque culpa quas tempora
    provident soluta voluptatibus, tempore, eligendi ut numquam mollitia? Vel
    maiores ullam officiis placeat quaerat est, neque sapiente praesentium
    quidem. Ipsa doloribus possimus molestiae, voluptate quae molestias
    obcaecati pariatur voluptatibus cumque nobis, minus in labore dolorem fugiat
    quibusdam alias consequuntur nulla nesciunt odit? Vitae nesciunt ad dolorem.
    Adipisci libero inventore necessitatibus eligendi incidunt ipsum officiis
    debitis placeat quibusdam iure corrupti assumenda quod nobis repudiandae
    voluptates non, cupiditate magni odio! Iure commodi nostrum animi.
    Perspiciatis molestiae ipsum excepturi dicta eligendi praesentium et animi
    aspernatur iure provident adipisci quam eius laudantium temporibus atque,
    dignissimos corrupti porro amet explicabo. Voluptate omnis quasi deserunt
    ipsam neque iste quod fuga? Voluptates sit maxime aut quasi rerum impedit
    dicta deserunt hic, corporis aliquam ullam, adipisci quibusdam est veniam
    culpa inventore nostrum ut quam sunt ex ducimus accusamus. Obcaecati
    exercitationem rerum suscipit maxime omnis fugit sunt natus maiores ea
    cumque nam commodi officiis impedit facilis, dolorum soluta temporibus enim
    accusamus, ipsam odio officia. Veniam sit distinctio inventore ratione,
    voluptatum aut dolor eos hic accusantium quaerat, odit amet totam excepturi
    porro iste enim magnam eius nihil. Porro corrupti, suscipit adipisci magni
    tempora omnis fugiat id cumque facere cupiditate tenetur, numquam possimus,
    ipsam ratione. Voluptatibus expedita deserunt vero nisi explicabo
    exercitationem quaerat dolorem, deleniti ipsa, quos a. Explicabo,
    repellendus. Recusandae nihil neque rerum. Ipsam rerum deleniti placeat iste
    fuga ut facilis quos sit magni maiores libero ipsa aut ipsum culpa, quasi
    quam natus aliquid sequi voluptate. Perferendis obcaecati assumenda at iste,
    dicta nisi fugit iusto neque eveniet eius et ad! Iure, ipsam asperiores
    dignissimos earum cum ea beatae, exercitationem odit expedita ducimus
    debitis vero nam, adipisci dolor quasi. Cumque laborum enim sapiente minima
    distinctio est cum praesentium, deleniti culpa ipsam. Nisi, nam sed?
    Quibusdam, optio. Molestiae iure iusto obcaecati dolorum, eius sed eos quia
    ipsam molestias dolore delectus soluta facilis quas repellendus non fugit.
    Mollitia impedit odit cumque. Voluptatum autem architecto, quibusdam
    molestias neque asperiores minus unde natus deleniti est quas placeat fugit
    ut reiciendis temporibus pariatur distinctio? Maiores odio consequatur modi
    tenetur nemo esse ipsa deleniti iure quibusdam dignissimos sunt nobis
    molestias deserunt repellendus cupiditate iusto soluta, eligendi, quia
    corporis a expedita explicabo omnis! Repellendus ut suscipit deleniti amet
    autem eius ex? A, sit. Nobis culpa rem sequi, dolores eius dolore harum sit
    at, rerum expedita eos. Voluptas, labore quibusdam. Quisquam commodi vel
    explicabo eius corrupti ab velit ex, distinctio, dicta nemo repellat? Labore
    ipsam quod pariatur sunt iste, voluptatum provident velit tempora quam
    magnam earum quo maiores consequuntur repellat animi qui obcaecati
    temporibus officiis enim autem, quae rerum! Delectus totam quos eius eum
    quis, libero, dolores aliquid qui temporibus animi voluptatem alias minus ut
    fugit voluptatum possimus cumque quo velit iste sit at laborum perspiciatis
    pariatur? Mollitia voluptatibus nulla odio odit, deleniti quibusdam dolor
    blanditiis?
  </p>

  <Button client:visible />

</Layout>
