---
import Card from "../components/Card.astro";
import Layout from "../components/Layout.astro";
---

<Layout pageTitle="Mis Servicios">
  <h1>Mis servicios</h1>
  <p>
    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quasi sequi
    voluptatibus minus dolore doloremque distinctio. Ipsa nesciunt delectus
    alias fugiat?
  </p>

  <Card title="Hola mundo" content="Esto es una prueba" />
  <Card title="Programación" content="Servicios de desarollo de apliciones" />
  <Card title="Diseño" content="Servicios de desarollo de apliciones" />
  <Card title="Algo mas" content="Servicios de desarollo de apliciones" />
  <Card />
</Layout>
