*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  margin: 0;
}

img,
svg,
video {
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

section {
  min-height: 100vh;
  display: grid;
  place-content: center;
  max-width: 64rem;
  margin-inline: auto;
}
