* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

body {
  min-height: 100vh;
  background-image: linear-gradient(135deg, #8052ec, #d161ff);

  display: flex;
  align-items: center;
  justify-content: center;
}

.clock {
  width: 31.5em;
  height: 8em;

  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: 600;
}

.clock div {
  background-color: #fff;
  height: 100%;
  width: 3.2em;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2.5em;
  color: #150c41;
  border-radius: 0.4em;
  box-shadow: 0 1em 2em rgba(0, 0, 0, 0.3);
  letter-spacing: 0.05em;
}

.clock span {
  font-weight: 800;
  color: #fff;
  font-size: 2.5em;
}
