.caja {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  gap: 1rem;
  margin-block: 3rem;
}

.card {
  border: 1px solid gray;
  border-radius: 0.5rem;
  padding: 1rem;
  max-width: 100px;
}

.rey {
  max-width: 100%;
}

.name {
  text-align: center;
  font-size: 1rem;
}
