*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
}

img,
svg,
video {
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

.container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 1rem;
  margin: 1rem;
}

.loader {
  display: block;
  margin-inline: auto;
}

.show {
  border: 1px solid #333;
  padding: 1rem;
}

